.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust column width as needed */
  gap: 10px;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust column width for smaller screens */
  }
}

.section {
  margin: 10px;
}
.items {
  flex: 0 0 calc(20% - 10px); /* Set 20% width for each column (adjust as needed) */
  margin: 5px;
}
.colHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-weight: normal;
}
.length {
  padding-left: 5px;
  color: #938f8f;
  text-decoration: none;
}
.colHeaderTitle{
    display: flex;
    align-items: center;
}
.colHeaderIcon {
  display: flex;
  float: right;
}
